<div class="mb-3 mt-4">
  <label lass="form-label">Numero 1</label>
  <input type="number" class="form-control" name="num1" id="" aria-describedby="helpId" placeholder="Digite aqui..."
    [(ngModel)]="num1">
</div>
<div class="mb-3">
  <label lass="form-label">Numero 2</label>
  <input type="number" class="form-control" name="num2" id="" aria-describedby="helpId" placeholder="Digite aqui..."
    [(ngModel)]="num2">
</div>
<div class="mb-3">
  <label lass="form-label">Resultado</label>
  <input type="number" class="form-control" name="resultado" id="" aria-describedby="helpId"
    placeholder="Digite aqui..." [(ngModel)]="num1+num2">
</div>
