<div class="containter mt-5">
  <div class="row">
    <div class="col-12">
      <h3 class="display-5">Descrição dos Exercicios</h3>
      <h3 class="font-monospace mt-5">1.Calcular Média</h3>
      <ul class="list-group [">
        <li class="list-group-item">Crie uma componente que receberá as notas: AC1, AC2, AG e AF.</li>
        <li class="list-group-item">Calcule a média ao clicar no botão “Calcular” e mostre se está aprovado ou reprovado, a média é 5.</li>
        <li class="list-group-item"><b><i>Média Final = (AC1 * 0,15) + (AC2 *0,30) + (AG * 0,10) + (AF * 0,45)</i></b></li>
      </ul>

      <h3 class="font-monospace mt-5">2.Calculadora</h3>
      <ul class="list-group [">
        <li class="list-group-item">Crie um componente que receberá dois números e a operação matemática (soma, subtração, multiplicação ou divisão). Exiba o resultado em um input.</li>
      </ul>

      <h3 class="font-monospace mt-5">3.Cadastro de Aluno</h3>
      <ul class="list-group [">
        <li class="list-group-item">Crie um componente com um formulário e os campos: RA, nome, email, celular. Todos os campos deverão ser obrigatórios e associados a um ngModel.</li>
      </ul>

      <h3 class="font-monospace mt-5">4.Apólice de Seguro</h3>
      <ul class="list-group [">
        <li class="list-group-item">Crie um formulário de apólice para seguro automobilístico. Para isso o consultor preencherá: Nome do segurado, o sexo, a idade e o valor do automóvel. Mediante a regra abaixo calcule e exiba o valor da apólice de seguro:</li>
        <li class="list-group-item">Se sexo for masculino e idade <= 25: Valor da apólice = 15% do valor do automóvel</li>
        <li class="list-group-item">Se sexo for masculino e idade > 25: Valor da apólice = 10% do valor do automóvel</li>
        <li class="list-group-item">Se sexo for feminino: Valor da apólice = 8% do valor do automóvel</li>
      </ul>
    </div>
  </div>
</div>
