<div class="mb-3 mt-4">
  <label lass="form-label">Numero 1</label>
  <input type="number" class="form-control" name="num1" id="" aria-describedby="helpId" placeholder="Digite aqui..." (change)="atualiza()"
    [(ngModel)]="num1">
</div>
<div class="mb-3">
  <label lass="form-label">Numero 2</label>
  <input type="number" class="form-control" name="num2" id="" aria-describedby="helpId" placeholder="Digite aqui..."  (change)="atualiza()"
    [(ngModel)]="num2">
</div>

<div class="mb-3">
  <label lass="form-label">Soma dos Numeros</label>
  <input type="number" class="form-control" name="resultadoSoma" id="" aria-describedby="helpId"
    placeholder="Digite aqui..." [(ngModel)]="resultadoSoma" disabled>
</div>
<div class="mb-3">
  <label lass="form-label">Subtracao dos Numeros</label>
  <input type="number" class="form-control" name="resultadoSoma" id="" aria-describedby="helpId"
    placeholder="Digite aqui..." [(ngModel)]="resultadoSubtrair" disabled>
</div>
<div class="mb-3">
  <label lass="form-label">Divisao dos Numeros</label>
  <input type="number" class="form-control" name="resultadoSoma" id="" aria-describedby="helpId"
    placeholder="Digite aqui..." [(ngModel)]="resultadoDividir" disabled>
</div>
<div class="mb-3">
  <label lass="form-label">Multiplicacao dos Numeros</label>
  <input type="number" class="form-control" name="resultadoSoma" id="" aria-describedby="helpId"
    placeholder="Digite aqui..." [(ngModel)]="resultadoMultiplicar" disabled>
</div>
