<div class="row">
  <div class="col-md-3">
    <nav>
      <ul class="list-group mt-5">
        <li class="list-group-item"><a class="text-decoration-none" routerLink="descricao">Descrição dos Exercicios</a></li>
        <li class="list-group-item"><a class="text-decoration-none" routerLink="exercicio1">Calcular Média</a></li>
        <li class="list-group-item"><a class="text-decoration-none" routerLink="exercicio2">Calculadora</a></li>
        <li class="list-group-item"><a class="text-decoration-none" routerLink="exercicio3">Cadastro de Aluno</a></li>
        <li class="list-group-item"><a class="text-decoration-none" routerLink="exercicio4">Apólice de Seguro</a></li>
      </ul>
    </nav>
  </div>
  <div class="col-md-9">
    <router-outlet></router-outlet>
  </div>
</div>
